<p id="notice"><%= notice %></p>

<h2><%= @post.title %></h2>
<br/>
<span><%= @post.content %></span>
<br/>

<hr/>

<h3>Comments</h3>
<% @post.comments.each do |comment| %>
    <span><%= comment.body %></span>
    <br/>
<% end %>
<hr/>

<%= render partial: 'comments/form', locals: {post: @post} %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
